{{ define "main" }}
<div class="uk-section">
    <div class="uk-container">
        <h2>{{ .Params.heading }}</h2>
        <p>{{ .Params.body | markdownify }}</p>
        <a href="https://www.paypal.com/donate?token=PqOeD8p3dU8aYRnwXx1WbMc_fQMWTcs5c4n154gsoqAcAivRxyNbiZObrojQzQMlCScNx6KdVGL1Ggxi" class="uk-button uk-button-primary" target="_blank">Donate</a>
    </div>
</div>
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-text-center" uk-grid="parallax: 150">
            
        {{ range .Params.gallery }}
        <div>
            <img src="{{ . }}" alt="Arts 4 Kidz">
        </div>
        {{ end }}
        </div>
    </div>
</div>
{{ end }}
