{{ $featured := .Site.Data.home.featured_section }}
<div class="uk-section uk-section-small featured__section uk-white">
    <div class="uk-container uk-container-large">
        <div class="uk-grid-small uk-child-width-expand@s uk-text-center uk-grid-match" uk-grid >
            {{ range $featured.blocks }}
                <a href="">
                    <div class="uk-card featured__box">
                        <div class="uk-card-body">
                            <h3 class="uk-h4 uk-white">{{ .heading }}</h3>
                            <p>{{ .body }}</p>
                        </div>
                    </div>
                </a>
                {{ end }}
            </div>
    </div>
</div>