{{ $optBlock := dict "display" "block" }}

<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid-large" uk-grid>
            <div class="uk-width-expand">
                <img src="https://res.cloudinary.com/hungryram19/image/upload/v1633445637/ashley-fink/arts4kidz/girl-playing-piano.jpg" alt="">
            </div>
            <div class="uk-width-1-2@s">
                <div class="uk-card">
                    <h2 class="uk-margin-small-top">{{ .Site.Data.home.introduction.heading }}</h2>
                    {{ .Site.Data.home.introduction.body | $.Page.RenderString $optBlock }}
                    <a href="/about" class="uk-button uk-button-primary slide_right">Learn more</a>
                </div>
            </div>
        </div>
    </div>
</div>