{{ define "main" }}
{{ $footerSocial := .Site.Data.profile.social_media }}
{{ $footerContact := .Site.Data.profile.contact_information }}
{{ $accent := $.Site.Data.appearance.colors.accent }}
{{ $optBlock := dict "display" "block" }}

<div class="uk-section">
    <div class="uk-container">
        <div class="uk-width-1-1 uk-text-center uk-margin-large-bottom">
            <div class="uk-flex uk-flex-center uk-margin-medium-bottom">
                <div class="uk-width-2xlarge main__content">
                    <h2>{{ .Params.heading }}</h2>
                    {{ .Params.body | $.Page.RenderString $optBlock }}
                </div>
            </div>
        </div>
        <div class="uk-grid-large" uk-grid>
            <div class="uk-width-1-2@s">
                <div class="uk-card">
                    <ul class="contact__icons uk-list">
                    {{ if $footerContact.phone }}<li class="uk-margin"><a href="tel:{{ $footerContact.phone }}"><span class="uk-margin-small-right uk-icon-button" uk-icon="receiver"></span>{{ $footerContact.phone }}</a></li>{{ end }}
                    {{ if $footerContact.cell }}<li class="uk-margin"><a href="tel:{{ $footerContact.cell }}"><span class="uk-margin-small-right uk-icon-button" uk-icon="phone"></span>{{ $footerContact.cell }}</a></li>{{ end }}
                    {{ if $footerContact.email }}<li class="uk-margin"><a href="tel:{{ $footerContact.email }}"><span class="uk-margin-small-right uk-icon-button" uk-icon="mail"></span>{{ $footerContact.email }}</a></li>{{ end }}
                    {{ if $footerContact.address }}<li class="uk-margin"><span class="uk-margin-small-right uk-icon-button" uk-icon="location"></span><a href="{{ if $footerContact.google_page_link }}{{ $footerContact.google_page_link }}{{ else }}https://www.google.com/maps/place/{{ $footerContact.address }},+{{ $footerContact.city }},+{{ $footerContact.state }}{{ end }}">{{ $footerContact.address }}, {{ $footerContact.city }}, {{ $footerContact.state }} {{ $footerContact.zip_code }}</a></li>{{ end }}                    
                    </ul>
                    <h3>Connect with us</h3>
                    {{ if $footerSocial.facebook }}<a href="{{ $footerSocial.facebook }}" class="uk-icon-button uk-margin-small-right" uk-icon="icon: facebook; ratio: 1" style="color: {{ $accent }}"></a>{{ end }}
                    {{ if $footerSocial.instagram }}<a href="{{ $footerSocial.instagram }}" class="uk-icon-button uk-margin-small-right" uk-icon="icon: instagram; ratio: 1" style="color: {{ $accent }}"></a>{{ end }}
                    {{ if $footerSocial.linkedin }}<a href="{{ $footerSocial.linkedin }}" class="uk-icon-button uk-margin-small-right" uk-icon="icon: linkedin; ratio: 1" style="color: {{ $accent }}"></a>{{ end }}
                    {{ if $footerSocial.pinterest }}<a href="{{ $footerSocial.pinterest }}" class="uk-icon-button uk-margin-small-right" uk-icon="icon: pinterest; ratio: 1" style="color: {{ $accent }}"></a>{{ end }}
                    {{ if $footerSocial.twitter }}<a href="{{ $footerSocial.twitter }}" class="uk-icon-button uk-margin-small-right" uk-icon="icon: twitter; ratio: 1" style="color: {{ $accent }}"></a>{{ end }}
                    {{ if $footerSocial.youtube }}<a href="{{ $footerSocial.youtube }}" class="uk-icon-button uk-margin-small-right" uk-icon="icon: youtube; ratio: 1" style="color: {{ $accent }}"></a>{{ end }}
                    {{ if $footerSocial.tiktok }}<a href="{{ $footerSocial.tiktok }}" class="uk-icon-button uk-margin-small-right" uk-icon="icon: tiktok; ratio: 1" style="color: {{ $accent }}"></a>{{ end }}
                    {{ if $footerSocial.yelp }}<a href="{{ $footerSocial.yelp }}" class="uk-icon-button uk-margin-small-right" uk-icon="icon: yelp; ratio: 1" style="color: {{ $accent }}"></a>{{ end }}
                </div>
            </div>
            <div class="uk-width-1-2@s">
                <div class="uk-card">
                    <h3>Send an email</h3>
                    <form name="contact" method="POST" netlify-honeypot="bot-field" data-netlify="true" class="uk-grid-small" uk-grid action="/thank-you">
                        <input name="bot-field" type="hidden" />
                        <input type="hidden" name="Subject" value="Website Contact Form">
                        <div class="uk-width-1-2@s">
                            <input class="uk-input" type="text" name="First Name" id="uk-input-fname" placeholder="Name" required>
                        </div>
                        <div class="uk-width-1-2@s">
                            <input class="uk-input" type="tel" name="Phone" id="input-phone" placeholder="Phone" required>
                        </div>
                        <div class="uk-width-1-1">
                            <input class="uk-input" type="email" id="input-email" name="Email" placeholder="Email" required>
                        </div>
                        <div class="uk-width-1-1">
                            <textarea class="uk-textarea" rows="5" id="textarea-info" name="Message" placeholder="Message"></textarea>
                        </div>
                        <div class="uk-width-1-1">
                            <button class="uk-button uk-button-primary uk-width-1-1">Submit</button>
                        </div>
                        <div class="uk-width-1-1">
                            <p>By submitting the form with your information above you are agreeing to our <a style="color:#19202A" href="/legal/terms-and-conditions">Terms and Conditions</a> and <a style="color:#19202A" href="/legal/privacy-policy">Privacy Policy</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{{ end }}

